USE [master]
GO
/****** Object:  Database [Payroll]    Script Date: 29-Aug-17 1:17:44 AM ******/
CREATE DATABASE [Payroll]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Payroll', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\Payroll.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Payroll_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\Payroll_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Payroll].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Payroll]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 29-Aug-17 1:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 29-Aug-17 1:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 29-Aug-17 1:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 29-Aug-17 1:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 29-Aug-17 1:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATTENDANCE_IMPORT]    Script Date: 29-Aug-17 1:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ATTENDANCE_IMPORT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttendanceLogId] [int] NOT NULL,
	[AttendanceDate] [datetime] NULL,
	[EmployeeId] [int] NULL,
	[InTime] [time](7) NULL,
	[OutTime] [time](7) NULL,
	[PunchRecords] [varchar](2000) NULL,
 CONSTRAINT [PK_ATTENDANCE_IMPORT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company]    Script Date: 29-Aug-17 1:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[ComId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[ComId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Department]    Script Date: 29-Aug-17 1:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Department](
	[DepId] [int] IDENTITY(1,1) NOT NULL,
	[DEPT] [varchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Designation]    Script Date: 29-Aug-17 1:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Designation](
	[DegId] [int] IDENTITY(1,1) NOT NULL,
	[DESG] [varchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Designation] PRIMARY KEY CLUSTERED 
(
	[DegId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 29-Aug-17 1:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPID] [int] IDENTITY(1,1) NOT NULL,
	[EMPCODE] [int] NULL,
	[MACCODE] [varchar](100) NULL,
	[EMP_NAME] [varchar](100) NOT NULL,
	[FATHER_NAME] [varchar](100) NULL,
	[MOTHER_NAME] [varchar](100) NULL,
	[DOB] [datetime] NULL,
	[DOJ] [datetime] NULL,
	[MARITAL_STATUS] [varchar](30) NULL,
	[GENDER] [varchar](30) NULL,
	[ACTUAL_SALARY] [numeric](18, 2) NULL,
	[ADUITING_SALARY] [numeric](18, 2) NULL,
	[UNITID] [int] NULL,
	[DEPARTMENTID] [int] NULL,
	[DESIGNATIONID] [int] NULL,
	[WAGES_TYPEID] [int] NULL,
	[IMAGE] [varchar](200) NULL,
	[Mode] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](200) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProcessedData]    Script Date: 29-Aug-17 1:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProcessedData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpCode] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[HoursWorked] [time](7) NULL,
	[ShiftCount] [numeric](18, 2) NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShiftMaster]    Script Date: 29-Aug-17 1:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WGID] [int] NOT NULL,
	[InTime] [time](7) NULL,
	[OutTime] [time](7) NULL,
	[Hours] [time](7) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UNIT]    Script Date: 29-Aug-17 1:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UNIT](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UNIT] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WAGESTYPE]    Script Date: 29-Aug-17 1:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WAGESTYPE](
	[WGId] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Allowance] [time](7) NULL,
 CONSTRAINT [PK_WAGESTYPE] PRIMARY KEY CLUSTERED 
(
	[WGId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1d63aa01-e8e3-4a76-9d67-48b2f8ad4af4', N'admin@admin.com', 0, N'AB3BBpcqCeZHcuxp0mZ1PCH3ZAwacXycx8QegOO2S2fkuulhZqCO2b+Lx/En3abL+g==', N'ac686d5f-b2e7-4e30-a2c7-a0cff948a0d1', NULL, 0, 0, NULL, 1, 0, N'admin@admin.com')
SET IDENTITY_INSERT [dbo].[ATTENDANCE_IMPORT] ON 

INSERT [dbo].[ATTENDANCE_IMPORT] ([Id], [AttendanceLogId], [AttendanceDate], [EmployeeId], [InTime], [OutTime], [PunchRecords]) VALUES (1, 247, CAST(N'2017-01-25 00:00:00.000' AS DateTime), 2527, CAST(N'15:06:26' AS Time), CAST(N'18:08:22' AS Time), N'15:06:in(TD),15:06:(TD),15:07:(TD),16:50:out(TD),18:08:in(TD),')
INSERT [dbo].[ATTENDANCE_IMPORT] ([Id], [AttendanceLogId], [AttendanceDate], [EmployeeId], [InTime], [OutTime], [PunchRecords]) VALUES (2, 249, CAST(N'2017-01-27 00:00:00.000' AS DateTime), 2527, CAST(N'15:22:33' AS Time), CAST(N'15:22:33' AS Time), N'15:22:in(TD),')
INSERT [dbo].[ATTENDANCE_IMPORT] ([Id], [AttendanceLogId], [AttendanceDate], [EmployeeId], [InTime], [OutTime], [PunchRecords]) VALUES (3, 252, CAST(N'2017-01-30 00:00:00.000' AS DateTime), 2527, CAST(N'11:57:16' AS Time), CAST(N'11:57:16' AS Time), N'11:57:in(TD),')
GO
SET IDENTITY_INSERT [dbo].[ATTENDANCE_IMPORT] OFF
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([ComId], [Name], [IsActive], [IsDeleted]) VALUES (1, N'ABD', 1, 0)
INSERT [dbo].[Company] ([ComId], [Name], [IsActive], [IsDeleted]) VALUES (2, N'Zxc', 1, 0)
SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepId], [DEPT], [IsActive], [IsDeleted]) VALUES (1, N'Dev', 1, 0)
INSERT [dbo].[Department] ([DepId], [DEPT], [IsActive], [IsDeleted]) VALUES (2, N'Testing', 1, 0)
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[Designation] ON 

INSERT [dbo].[Designation] ([DegId], [DESG], [IsActive], [IsDeleted]) VALUES (1, N'SE', 1, 0)
INSERT [dbo].[Designation] ([DegId], [DESG], [IsActive], [IsDeleted]) VALUES (2, N'PL', 1, 0)
INSERT [dbo].[Designation] ([DegId], [DESG], [IsActive], [IsDeleted]) VALUES (3, N'PM', 1, 0)
SET IDENTITY_INSERT [dbo].[Designation] OFF
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
SET IDENTITY_INSERT [dbo].[ProcessedData] ON 

INSERT [dbo].[ProcessedData] ([ID], [EmpCode], [Date], [HoursWorked], [ShiftCount], [Status]) VALUES (1, 2560, CAST(N'2017-07-17 00:00:00.000' AS DateTime), CAST(N'01:33:00' AS Time), CAST(0.00 AS Numeric(18, 2)), N'')
INSERT [dbo].[ProcessedData] ([ID], [EmpCode], [Date], [HoursWorked], [ShiftCount], [Status]) VALUES (2, 2561, CAST(N'2017-07-17 00:00:00.000' AS DateTime), CAST(N'12:05:00' AS Time), CAST(1.00 AS Numeric(18, 2)), N'')
INSERT [dbo].[ProcessedData] ([ID], [EmpCode], [Date], [HoursWorked], [ShiftCount], [Status]) VALUES (3, 2564, CAST(N'2017-07-17 00:00:00.000' AS DateTime), CAST(N'11:31:00' AS Time), CAST(1.00 AS Numeric(18, 2)), N'')
SET IDENTITY_INSERT [dbo].[ProcessedData] OFF
SET IDENTITY_INSERT [dbo].[ShiftMaster] ON 

INSERT [dbo].[ShiftMaster] ([ID], [WGID], [InTime], [OutTime], [Hours]) VALUES (1, 1, CAST(N'09:00:00' AS Time), CAST(N'13:30:00' AS Time), CAST(N'04:30:00' AS Time))
INSERT [dbo].[ShiftMaster] ([ID], [WGID], [InTime], [OutTime], [Hours]) VALUES (2, 1, CAST(N'14:30:00' AS Time), CAST(N'19:00:00' AS Time), CAST(N'04:30:00' AS Time))
INSERT [dbo].[ShiftMaster] ([ID], [WGID], [InTime], [OutTime], [Hours]) VALUES (3, 2, CAST(N'08:30:00' AS Time), CAST(N'10:30:00' AS Time), CAST(N'02:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[ShiftMaster] OFF
SET IDENTITY_INSERT [dbo].[UNIT] ON 

INSERT [dbo].[UNIT] ([UnitId], [Name], [IsActive], [IsDeleted]) VALUES (1, N's1', 1, 0)
INSERT [dbo].[UNIT] ([UnitId], [Name], [IsActive], [IsDeleted]) VALUES (2, N's2', 1, 0)
SET IDENTITY_INSERT [dbo].[UNIT] OFF
SET IDENTITY_INSERT [dbo].[WAGESTYPE] ON 

INSERT [dbo].[WAGESTYPE] ([WGId], [Type], [IsActive], [IsDeleted], [Allowance]) VALUES (1, N'MONTHLY
', 1, 0, CAST(N'00:15:00' AS Time))
INSERT [dbo].[WAGESTYPE] ([WGId], [Type], [IsActive], [IsDeleted], [Allowance]) VALUES (2, N'WEEKLY
', 1, 0, CAST(N'00:10:00' AS Time))
SET IDENTITY_INSERT [dbo].[WAGESTYPE] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 29-Aug-17 1:17:45 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 29-Aug-17 1:17:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 29-Aug-17 1:17:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 29-Aug-17 1:17:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 29-Aug-17 1:17:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 29-Aug-17 1:17:45 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmployeelist]    Script Date: 29-Aug-17 1:17:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetEmployeelist] 
@Mode varchar(100),
@UNITID int,
@DEPARTMENTID int,
@DESIGNATIONID int,
@WAGES_TYPEID int

AS
BEGIN

SET NOCOUNT ON;

Declare @Sqlstr nvarchar(max),@condition varchar(1000),@condition1 varchar(1000)=''

set @condition=case when @Mode='ADUITING' then 'and Mode='''+@Mode+'''' else '' end

set @condition = @condition + case when @UNITID!=0 then ' and UNITID='+Cast(@UNITID as varchar(100))+'' else '' end

set @condition = @condition + case when @DEPARTMENTID!=0 then ' and DEPARTMENTID='+Cast(@DEPARTMENTID as varchar(100))+'' else '' end 

set @condition = @condition + case when @DESIGNATIONID!=0 then ' and DESIGNATIONID='+Cast(@DESIGNATIONID as varchar(100))+'' else '' end

set @condition = @condition + case when @WAGES_TYPEID!=0 then ' and WAGES_TYPEID='+Cast(@WAGES_TYPEID as varchar(100))+'' else '' end

SET @Sqlstr='select * from EMPLOYEE where 1=1 '+@condition+' and IsDeleted=0 order by EMPCODE asc'

exec sp_executesql @Sqlstr

END

GO
USE [master]
GO
