@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12" style="margin: 10px;">
    <div class="col-md-4">
        <a class="btn btn-default" style="margin: 5px;" href="~/Home/ListEmployee">Employee</a>
    </div>

    <div class="col-md-4">
        <a class="btn btn-default" style="margin: 5px;" href="~/Home/TodayAttenance">TodayAttenance</a>
    </div>

    <div class="col-md-4">
    </div>
</div>
