@{
    ViewBag.Title = "Index";
}



<div class="col-md-12" style="margin: 10px;">
    <div class="col-md-4">
        <a class="btn btn-default" style="margin: 5px;" href="~/Home/TodayAttenance">Today Attenance</a>
        <br />
        <a class="btn btn-default" style="margin: 5px;" href="~/Home/AttenanceReport">Attenance Report</a>
        <br />
        <a class="btn btn-default" style="margin: 5px;" href="~/Home/AddAttenance">Add Attenance</a>
        <br />
        <a class="btn btn-default" style="margin: 5px;" href="~/Transaction/ProceedAttenance">Process Attenance</a>
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
    </div>
</div>
